<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    {% include 'sidenav.html'%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dis Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/universal.css') }}"> <!-- Link to your CSS file -->
</head>
<body>
    <h1>Welcome to DIKUchan!!</h1>
    <p>Please create a user via the navigation menu above!</p>
</body>
</html>