<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    {% include 'sidenav.html'%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/universal.css') }}">
    <style>
      .container {
          display: flex;
          justify-content: space-between;
      }
    
      .left-section {
          width: 50%;
      }
    
      .right-section {
          width: 50%;
      }
    </style>
  </head>
<body>
<div class="container">
  <div class="left-section"> <!--LEFT SECTION-->
      <h1>Hello and Welcome to your profile page, {{nameUser}}</h1>
      <p>Please do something</p>
      <form action="{{ url_for('deleteUser') }}">
          <input class="btn btn-default" type="submit" value="Delete Your Profile">
      </form>
      {% if error %}
          <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
  </div>
  <div class="right-section"> <!--RIGHT SECTION-->

            <!--USER SUBSCRIBTIONS-->

    <h1> User Subscriptions:</h1>
    <table border="1">
        <thead>
            <tr>
                <td> Municipalities </td>
                <td> Links </td>
                <td> Unsubscribe </td>
            </tr>
        </thead>
        <tbody>
            {% for elm in UserSubs %}
                <tr>
                    <td>{{ elm[1] }}</td>
                    <td>
                        <a href="http://127.0.0.1:5000/kommune/{{ elm[1] }}" target="_self">Click Here</a>
                    </td>
                    <td>
                        <form action="{{ url_for('unsubscribe') }}" method="POST">
                            <input id="{{ elm[1]}}" name="Unsubscribe" type="hidden" value="{{ elm[1] }}">
                            <button type="submit"> Subscribe </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    
        <!--WHICH YOU CAN SUBSCRIBE TO-->

    <h1>Municipalities you can subscribe to</h1>


    <table border="1">
    <thead>
        <tr>
            <td> Municipalities </td>
            <td> Subscribe </td>
        </tr>
    </thead>
    <tbody>
        {% for elm in myList %}
            <tr>
                <td>{{ elm[1] }}</td>
                <td>
                    <form action="{{ url_for('subscribe') }}" method="POST">
                        <input id="{{ elm[1]}}" name="Subscribe" type="hidden" value="{{ elm[1] }}">
                        <button type="submit"> Subscribe </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
  </div>
</div>
</body></html>