<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    {% include 'sidenav.html'%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/universal.css') }}">
    <style>
      .container {
          display: flex;
          justify-content: space-between;
      }
    
      .left-section {
          width: 50%;
      }
    
      .right-section {
          width: 50%;
      }
    </style>
  </head>
<body>
<div class="container">
  <div class="left-section"> <!--LEFT SECTION-->
      <h1>Hello and Welcome to your profile page, {{nameUser}}</h1>
      <p>Please do something</p>
      <form action="{{ url_for('logout') }}">
          <input class="btn btn-default" type="submit" value="logout">
      </form>
      {% if error %}
          <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
  </div>
  <div class="right-section"> <!--RIGHT SECTION-->
    <h1>User Subscriptions</h1>
    <table border="1">
    <thead>
        <tr>
            <td> Kommuner </td>
            <td> Ting </td>
        </tr>
    </thead>
    <tbody>
        {% for elm in myList %}
            <tr>
                <td>{{ elm[1] }}</td>
                <td>{{ elm[0] }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

    <ul>
        {% for item in UserSubs %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>

      <h1> Municipalities you can subscribe to:</h1>
  </div>
</div>
</body></html>